.contactForm {
  width: 300px;
  padding: 40px;
  border: 1px solid black;
  margin: 45px auto 0 auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactForm input {
  height: 30px;
}
.contactForm button {
  border-radius: 5px;
  width: 150px;
  padding: 5px 15px;
  cursor: pointer;
}
.contactForm button:hover {
  background-color: antiquewhite;
}
