.ContactList {
  width: 450px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ============================================= */

.ContactListItem {
  display: flex;
  justify-content: space-between;
}
.ContactListItem button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}
.ContactListItem button:hover {
  background-color: antiquewhite;
}
